<div class="jumbotron">
  <h2>MGNews Site</h2>
  <p>This is a news site.</p>
</div>

<div class="row">
  <div class="row-height">
    <div class="col-xs-6 col-sm-3 col-sm-height col-sm-top">
      <div class="inside inside-full-height">
        <div class="content">
        	<% @first_three_articles.each do |article| %>
						<hr />
						<h4><%= article.title %></h4>
						<p><%=  article.show_text %></p>
					<% end %>
        </div>
      </div>
  	</div>
    
    <div class="col-xs-6 col-sm-6 col-sm-height col-sm-top">
      <div class="inside inside-full-height">
        <div class="content">
        	<% @second_two_articles.each_with_index do |article, index| %>
						<hr />
						<h3><%= article.title %></h3>
						<p><%=  article.show_text %></p>
					<% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-3 col-sm-height col-sm-middle">
      <div class="inside inside-full-height">
        <div class="content">
        	<h4>Most Read</h4>
			    <% @most_read.each do |article| %>
			    <div class="media">
					  <div class="media-right media-top">
					    <a href="#">
					      <img class="media-object" src="..." alt="...">
					    </a>
					  </div>
					  <div class="media-body">
					    <%= article.title %>
					  </div>
					</div>
					<% end %>
        </div>
      </div>
    </div>
  </div>
</div>


	<% Category.all.each_with_index do |category, index| %>
		<% if index % 4 == 0 %>
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title"><%= category.name %></h3>
					  </div>
					  <div class="panel-body">
					    <% Article.panel_articles(category).each do |article| %>
								<h4 class="panel-title-article"><%= link_to article.title, article, class: "panel-link-article" %></h4>
					    <% end %>
					  </div>
					</div>
				</div>
		<% elsif index % 4 == 1 %>
				<div class="col-md-3">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title"><%= category.name %></h3>
					  </div>
					  <div class="panel-body">
					    <% Article.panel_articles(category).each do |article| %>
								<h4 class="panel-title-article"><%= link_to article.title, article, class: "panel-link-article" %></h4>
					    <% end %>
					  </div>
					</div>
				</div>
		<% elsif index % 4 == 2 %>
				<div class="col-md-3">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title"><%= category.name %></h3>
					  </div>
					  <div class="panel-body">
					    <% Article.panel_articles(category).each do |article| %>
								<h4 class="panel-title-article"><%= link_to article.title, article, class: "panel-link-article" %></h4>
					    <% end %>
					  </div>
					</div>
				</div>
		<% elsif index % 4 == 3 %>
				<div class="col-md-3">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title"><%= category.name %></h3>
					  </div>
					  <div class="panel-body">
					    <% Article.panel_articles(category).each do |article| %>
								<h4 class="panel-title-article"><%= link_to article.title, article, class: "panel-link-article" %></h4>
					    <% end %>
					  </div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

