<div class="jumbotron">
  <h2>MGNews Site</h2>
  <p>This is a news site.</p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-3 col-sm-height col-sm-top">
      	<div class="inside inside-full-height">
        	<div class="content">
        		<% @first_three_articles.each do |article| %>
					<h4><%= link_to article.title, category_article_path(article.category, article) %></h4>
					<p><%=  article.show_text %></p>
					<%= image_tag(article.featured_image.url, class: "img-responsive img-rounded tweet-img", size: '200') if article.featured_image? %>
					<hr />
				<% end %>
        	</div>
  		</div>
  	</div>	

    
    <div class="col-xs-6 col-sm-6 col-sm-height col-sm-top">
      <div class="inside inside-full-height">
        <div class="">
        	<% @second_two_articles.each_with_index do |article, index| %>
				<h2><%= link_to article.title, category_article_path(article.category, article) %></h2>
				<p><%=  article.show_text %></p>
				<p><%= image_tag(article.featured_image.url, class: "img-responsive img-rounded tweet-img", width: '500') if article.featured_image? %></p>
				<hr />
			<% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-3 col-sm-height col-sm-middle">
    	<%= render 'layouts/sidebar' %>
  	</div>
</div>

<%= render 'layouts/home_bottom_content' %>
