<div class="row">
    <div class="col-md-8">
      	<div class="inside inside-full-height">
        	<div class="content">
        		<h1><%= raw @article.title %></h1>
        		<p class="blog-post-meta">By 
        			<a href="mailto:<%= @article.user.email %>"><%= @article.user.email %></a> | 
        			<span class="text-muted"><%= @article.pubdate.to_date.to_formatted_s(:rfc822) %></span>
        		</p>
        		<hr />
				    <p class="blog-main"><%= raw @article.body %></p>
        	</div>
  		</div>
  	</div>	
   
    <div class="col-md-1"></div>  

    <div class="col-md-3">
    	<%= render 'layouts/sidebar' %>
  	</div>
</div>

