<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h4><%= link_to '<<< Back to Articles', editor_articles_path %></h4>
		<h1><%= @article.title %></h1>
		<h3>Category: <i><%= @article.category.name %></i></h3>
		<p><%= raw @article.body %></p>

		<h4><%= link_to 'Edit', edit_editor_article_path(@article), class: "btn btn-primary" %>
			<%= link_to "Delete", editor_article_path(@article), data: {
										confirm: 'Are you shure?'
										}, method: :delete, class: "btn btn-danger" %> 
		</h4>
	</div>
	<div class="col-md-2"></div>
</div>