<!DOCTYPE html>
<html>
<head>
  <title>Mgnews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if Rails.env.production? %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
	<%= render 'layouts/messages' %>

	<%= yield %>

	<%= render 'layouts/footer' %>
</div>

</body>
</html>
